body{
    border: 1px solid black;
    margin-left: 5%;
    margin-right: 5%;
}

.header{
    display: grid;
    grid-template-columns: 10% 60%;
    margin-top: 35px;
    margin-bottom: 10px;
}
a{
    padding: 10px;
    color: blue;

}
.box{
    border: 1px solid black;
    margin-left: 15%;
    margin-right: 30%;
}
h1{
    margin-left:15%;
    margin-right: 30%;
}
th,td{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.numbers{
}
body>ul{
    margin-left: 30%;
}
/*css fuer footer*/
footer>ul{
    text-align: right;
    list-style-type: none;
    display: grid;
    grid-template-columns: 40% 15% 15%;
}
footer>ul>li::before{
    margin-right: 30px;
    margin-left: 15px;
}
footer>ul>li:not(:first-child):before{
    content: "|";
}